locust:
  loadtest:
    name: performance-test
    headless: true
    locust_locustfile: main.py
    locust_locustfile_configmap: locust-worker
    locust_host: http://frontstage.performance.svc.cluster.local:9000
    pip_packages:
      - google-cloud-storage
    environment:
      case: http://case.performance.svc.cluster.local:8080
      collection_exercise: http://collection-exercise.performance.svc.cluster.local:8080
      collection_instrument: http://collection-instrument.performance.svc.cluster.local:8080
      party: http://party.performance.svc.cluster.local:8080
      sample: http://sample.performance.svc.cluster.local:8080
      sample_file_uploader: http://sample-file-uploader.performance.svc.cluster.local:8080
      survey: http://survey.performance.svc.cluster.local:8080
      security_user_name: admin
      security_user_password: secret
      test_respondent_password: password
      test_respondents: 5
      GOOGLE_CLOUD_PROJECT: "ras-rm-performance-tests"
      GCS_BUCKET_NAME: "ras-rm-performance-results"

  master:
    environment:
      LOCUST_USERS: 1000
      LOCUST_SPAWN_RATE: 100
      LOCUST_RUN_TIME: 3600m
      LOCUST_ONLY_SUMMARY: true
      LOCUST_CSV: rasrm


  worker:
    replicas: 5
    strategy:
      type: RollingUpdate

  image:
    repository: locustio/locust
    tag: 1.4.1